@media screen and (max-width:1360px){
    

header{
    height: 200px;
    background: #993d3de8;
    background-size: 5em;
    background-position: 8em center;
    }


div#navegacao{
    margin-left: 0px;
}


div#teste{
    text-align: auto;
    width: 100vw;
}

div#navegacao.esconder{
    height: 12em;
    margin-top: 1em;
    background-color: rgba(165, 42, 42, 0);
    border-radius: 0px;
    text-align: right;
    width: 35em;
    transform: translateY(-10em);
    margin-right: 10px;
}
div#menu{
    display: block;
    text-align: left;
}
span#menu{
    display: none;
}
img#flor{
    display: none;
}


div#navegacao>img{
    width: 4em;
    margin-top: 10px;
}

div#titulo{
    margin-left: 55px;
}

}


@media screen and (max-width:768px){
    main{
        width: 36.5em;
    }

    main>section>h1{
        font-size: 2.2em;
    }
    
    main>section>h2{
        font-size: .7em;
    }

    main>section>p{

        font-size: .8em;
    }
    
    section.ativo#capa{
        height: 45em;
    }

    section#capa>h2{
        width: 300px;
    }
    
    section#capa>p{
        margin-top: 17em;
    }

}