@charset "UTF-8";
@media screen and (max-width:1000px){
    div#navegacao.mostrar{
         height: 85vh;
         width: 110px;
     
     }

     main{
        display: block;
        background-color: rgb(255, 255, 255);
        width: 800px;
        padding: 30px;
        position: relative;
        z-index: 444;
        margin-left: 110px;
        margin-right: auto;
    }
}