@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}

body{
    background: black url(../imagens/back/4\ \(9\).jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Volkorn', Georgia, serif;
}

header{
    background:#993d3de8 url(../imagens/back/4-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 100px;
    color: #ffffff;
}

div#titulo{
    display: inline-block;
    width: 50vw;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Water Brush', cursive;
    font-size: 1.5em;
    text-align: left;
    vertical-align: top;
}

div#teste{
    display: inline-block;
    width: 40vw;
    text-align: right;
}

div#menu{
    display:inline-block;
    margin-top: 40px;
    vertical-align: top;
}

div#menu>a{
    background-image: linear-gradient(transparent 0%,transparent 90%, #E55C5C 90%,  #E55C5C 100%);
    background-repeat: no-repeat;
    background-position-x:right ;
    background-size: 0% 100%;
    border-radius: 10px 0px 10px 0px;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition:  background-size 300ms,  background-color 300ms;  
}

div#menu>a:hover{
    background-color: #3b1818;
    background-position: left;
    background-size: 100% 100%;
}

div#navegacao{
    display: inline-block;
    background-color: #662929;
    width: 6.27em;
    margin-left:15px;
    text-align: center;
    transition: 1s;
}

div#navegacao.mostrar{
    height: 50.18em;
    border-radius: 0px 0px 15px 15px;
    overflow: scroll;
}

div#navegacao.esconder{
    height: 10em;
    border-radius: 0px 0px 30% 30%;
    overflow: hidden;
}

div#navegacao>img{
    width: 70px;
    margin-top: 10px;
}

span#menu{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: rgb(255, 255, 255); 
}

span#menu:hover{
    color: #B3423E;
    cursor: pointer;
}

img.icons{
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    transition: 0.3s;
}

img.icons:hover{
    scale: 1.2;
    cursor: pointer;
}

main{
    background-color: white;
    width: 56.5em;
    border: 0.5em solid #662929;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

main>section>h1{
    display: inline-block;
    font-size: 3.2em;
}

main>section>h2{
    margin-bottom: 20px;
    font-size: 1em;
    font-style: italic;

}

main>section{
    overflow: hidden;
    transition: 1.5s ease-in-out;
}

main>section>p{
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 2em;
}

section#capa{
    background: #3b1818 url(../imagens/back/9\ \(2\).jpg);
    background-size: cover;
    border: 1em solid #662929;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: 2s;
}

section.ativo#capa{
    height: 75em;
}

section#capa>h1{
    margin-top:10em ;
}

section#capa>h2{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

section#capa>p{
    margin-top: 26em;
    text-align: center;
    color: white;
}

section.desativo#capa{
    height: 0px; 
    border-radius: 15px;
}

section{
    color: #700D09;
}

section>p{
    color: black;
}

section.ativo{
    margin-top: 20px;
    transition: 1s;
}

section.desativo{
    height: 0px; 
    transition: 1s;
}

span.agepeso{
    margin-left: 25em;
}

div.val{
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 80;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
}

div.pi{
    background-color: #B3423E;
    width: 100px;
    height: 40px;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.479);
}

img{
    width: 350px;
    border-radius: 10px;
}

div#division{
    display: inline-block;
}

p#curiosidade{
    background-color: #ca535391;
    width:470px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 30px;
    font-size: 0.8em;
    text-align: justify;
    font-weight: bold;
    color: #662929;
}

img#secundaria{
    width: 450px;
    border-radius: 10px;
    margin-left: 15px;
}

video#secundaria{
    width: 480px;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 10px;
}

div#tabela{
    display: inline-block;
    background-color: #B3423E;
    width: 400px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

div#tabela>p{
    padding: 30px;
}

p#p3{
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    font-size: 1.1em;
    vertical-align: top;
}

iframe{
    display: block;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
}