@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Volkorn', Georgia, serif;
    background: black url(../imagens/back/4\ \(9\).jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

header{
   background:#993d3de8 url(../imagens/back/4-removebg-preview.png);
   background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100px;
    color: #ffffff;

}



header>div#teste>div#menu>a{
    text-decoration: none;
    color: white;
    background-color:#662929;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

header>div#teste>div#menu{
    display:inline-block;
    font-size: 1em;
    text-align: right;
    vertical-align: top;
    margin-top: 40px;
}

header>div#teste>div#menu>a:hover{
    background-color: #3b1818;
    transition: .5s ease;

}

div#teste{
    width: 40vw;
    text-align: right;
    display: inline-block;

}
div#titulo{
    width: 50vw;
    text-align: left;
    display: inline-block;
vertical-align: top;
    margin-left: 30px;
    margin-top: 30px;
}

main{
    display:block;
    width: 56.5em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 0.5em solid #662929;


}

main>section>h1{
    font-size: 3.2em;
    display: inline-block;
}

main>section>h2{
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;

}

main>section>p{
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 2em;
}

main>section>h1,h2{
    color: #662929;
}

section.ativo{
    opacity: 1;
    transition: 1.5s ease-in-out;
    width:56.5em ;
    height: 128em;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;

}
section.ativo#capa{

    transition: 1.5s ease-in-out;
    width: 54.5em;
    height: 61em;
    background: url(../imagens/back/9\ \(2\).jpg);
    background-size: cover;
    border: 1em solid #662929;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    overflow: hidden;
}

section.desativo#capa{
    background: url(../imagens/back/9\ \(2\).jpg);
    background-size: cover;
    transition:2s;
    height: 0px; 
    transition: 1.5s ease-in-out;
    text-align: center;
    border: 1em solid #662929;
    border-radius: 15px;
    overflow: hidden;
}

section.desativo#capa>h1{
    color: rgb(255, 255, 255);
    margin-top:8em ;
}
section.desativo#capa>h2{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}
section.desativo#capa>p{
    margin-top: 22em;
    text-align: center;
}


section.ativo#capa>h1{
    color: rgb(255, 255, 255);
    margin-top:8em ;
}
section.ativo#capa>h2{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;

}

section.ativo#capa>p{
    margin-top: 22em;
    text-align: center;
}

section.desativo{

    opacity: 1;
    transition:2s;
    height: 0px; 
    overflow: hidden;
    transition: 1.5s ease-in-out;
}



p#p1,p#p2,p#p3{

    display: inline-block;

}

div#division{
    display: inline-block;
    width: 540px;
    height: 525px;
    vertical-align: top;

}

p#curiosidade{
    background-color: #ca535391;
    border-radius: 15px;
    padding: 30px;
    display: block;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #662929;
    text-align: justify;
    width:470px;
    font-size: 0.8em;
    font-weight: bold;
}

footer{

    background:#993d3de8 ;
    width: 100vw;
    color: #ffffff;
    text-align: center;
}

::-webkit-scrollbar{
    display: none;
}

img{
    border-radius: 10px;
    width: 350px;
    display: inline-block;
}

img#secundaria{
    display: inline-block;
    width: 530px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;

}
video#secundaria{
    display: inline-block;
    width: 540px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 60px;
}

div.pi{
    width: 100px;
    height: 40px;
    background-color: #B3423E;
    text-align: center;
    color: rgba(255, 255, 255, 0.479);
    font-size: 2em;
}

div.val{
    display: inline-block;
    width: 100px;
    height: 80;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    color: #700D09;


}

span.agepeso{
margin-left: 25em;
}

div#navegacao.mostrar{
   display: inline-block;
    height: 50.18em;
    width: 100px;
    opacity: 1;
    background-color: #662929;
    border-radius: 0px 0px 15px 15px;
    transition: 1s;
    text-align: center;
    align-self: center;
    overflow: scroll;
    margin-right: 15px;
    margin-left: 15px;


    
}

div#navegacao.esconder{
    display: inline-block;
    height: 150px;
    width: 6.27em;
    opacity: 1;
    background-color: #662929;
    border-radius: 0px 0px 30% 30%;
    overflow: hidden;
    text-align: center;
    transition: 1s;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 15px;

    vertical-align: text-bottom;
    
}

div#navegacao>img.icons{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 70px;
    height: 70px;
    opacity: 1;
    transition: 0.3s;
}

img.icons:hover{
    scale: 1.2;
    cursor: pointer;
}

div#tabela{
    width: 400px;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #B3423E;
    font-size: 1.7em;
    border-radius: 15px;
    vertical-align: top;
    margin-bottom: 15px;
    display: inline-block;
}

div#tabela>p{
    font-size: .6em;
    padding: 30px;
   font-family: 'Courier New', Courier, monospace;
   display: inline-block;

   
}

p#p3{
    width: 450px;
    display: inline-block;
    margin-left: 20px;
    font-size: 1.1em;
}

span#menu{
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 30px;
}

span#menu:hover{
    color: #B3423E;
    cursor: pointer;
}

iframe{
    margin-left: 180px;
    border-radius: 15px;
    }
    
div#navegacao>img{
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
