@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Volkorn', Georgia, serif;
    background: black url(../imagens/1\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

header{
    background:#e65550 ;
    width: 100%;
    height: 100px;
    color: white;
}

header>h1{
    display: inline-block;
    margin: 30px;
}

header>span#menu>a{
    text-decoration: none;
    color: white;
    background-color:#B3423E;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
}

header>span#menu{
    display:inline-block;
    font-size: 1em;
}

header>span#menu>a:hover{
    background-color: #700D09;
}

section#conteudo{
    position: relative;
    z-index: 333;
}

main>h1{
    font-size: 3.2em;
}

main>h2{
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}
main{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 700px;
    padding: 30px;
    position: relative;
    z-index: 444;
    margin-left: auto;
    margin-right: auto;
}

main>p{
    font-size: 1.5em;
    text-align: justify;
    margin-bottom: 20px;
}
p#curiosidade{
    display: inline-block;
    margin-left: 20px;
    color: #700D09;
    text-align: justify;
    font-size: 1em;
    font-weight: bold;
}

main>h1,h2{
    color: #B3423E;
}
p#p1,p#p2,p#p3{

    display: inline-block;

}

footer{
    background:#E65550 ;
    width: 100vw;
    color: white;
    text-align: center;
}

::-webkit-scrollbar{
    display: none;
}

img{
    border-radius: 10px;
    width: 400px;
    display: inline-block;
}

img#secundaria{
    display: inline-block;
    width: 400px;
}

div.pi{
    width: 100px;
    height: 40px;
    background-color: #B3423E;
    text-align: center;
    color: rgba(255, 255, 255, 0.479);
    font-size: 2em;
}

div.val{
    display: inline-block;
    width: 100px;
    height: 80;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    color: #700D09;
}

div#navegacao.mostrar{
   display: inline-block;
    height: 800px;
    width: 180px;
    opacity: 1;
    background-color: #700D09;
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    z-index: 000;
    transition: 1s;
    text-align: center;
    align-self: center;
    overflow: scroll;
}

div#navegacao.esconder{
    display: block;
    height: 60px;
    width: 180px;
    opacity: 1;
    background-color: #700D09;
    border-radius: 0px 0px 50% 50%;
    position: absolute;
    text-align: center;
    transition: 1s;
    align-self: center;
    overflow: hidden;
}

div#navegacao>img.icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 130px;
    height: 130px;
    position: relative;
    opacity: 1;
    transition: 0.3s;
}

img.icons:hover{
    scale: 1.2;
    cursor: pointer;
}

div#tabela{
    width: 500px;
    text-align: center;
    text-decoration: underline;
    color: white;
    background-color: #B3423E;
    font-size: 1.7em;
    border-radius: 15px;
}

span#menu{
    color: rgb(10, 151, 5);
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 30px;
}

span#menu:hover{
    color: white;
    cursor: pointer;
}

div#fixed{
    margin-top: 30px;
    position: relative;
}

